<div class="container-fluid">
    <div data-bind="ifnot: schoolDataLoaded">
        <loading></loading>
    </div>

    <div id="mainContent" class="container-fluid" data-bind="if: schoolDataLoaded">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <chart></chart>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <chart-description></chart-description>
                    </div>
                    <div class="col-md-3">
                        <sharing></sharing>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <selection></selection>
                <filter></filter>
                <display-options></display-options>
            </div>
        </div>
    </div>
</div>
