<div class="container-fluid">
    <loading data-bind="visible: !schoolDataLoaded()"></loading>

    <div id="mainContent" class="container-fluid" style="display: none;" data-bind="visible: schoolDataLoaded">
        <div class="row">
            <div class="col-md-8">
                <chart params="measure: selectedMeasure, lea: selectedLea,
                               schoolNames: schoolNames, schoolSeries: schoolSeries"></chart>
            </div>

            <div class="col-md-4">
                <selection params="allData: allData, metaData: metaData,
                                   selectedMeasure: selectedMeasure, lea: selectedLea,
                                   schoolNames: schoolNames, schoolSeries: schoolSeries"></selection>
            </div>
        </div>
    </div>
</div>
