body {
    margin-top: 20px;
}

#loading {
	text-align: center;
	font-family: 'Arial Black', Gadget, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}