<div class="panel-heading">
    <a data-toggle="collapse" data-target="#collapseSelection" name="collapseSelection">
        Selection
    </a>
</div>
<div id="collapseSelection" class="panel-collapse collapse in">
    <div class="panel-body">

        <label>Show me...</label>

        <div class="btn-group btn-group-justified">
            <label class="btn btn-default btn-sm"
                   data-bind="css: { 'active': dataLevel() === 'Region', 'disabled': viewLevel() === 'LEA' }">
                <input type="radio" name="options" id="dataRegion" data-bind="checked: dataLevel, checkedValue: 'Region',
                                                                                  disable: viewLevel() === 'LEA'">
                Regions
            </label>
            <label class="btn btn-default btn-sm"
                   data-bind="css: { 'active': dataLevel() === 'LEA'}">
                <input type="radio" name="options" id="dataLEA" data-bind="checked: dataLevel, checkedValue: 'LEA'">
                Local Authorities
            </label>
            <label class="btn btn-default btn-sm"
                   data-bind="css: { 'active': dataLevel() === 'School' }">
                <input type="radio" name="options" id="dataSchool"
                       data-bind="checked: dataLevel, checkedValue: 'School'">
                Schools
            </label>
        </div>

        <label>within...
        </label>

        <div class="btn-group btn-group-justified">
            <label class="btn btn-default btn-sm"
                   data-bind="css: { 'active': viewLevel() === 'Region'}">
                <input type="radio" name="options" id="viewRegion"
                       data-bind="checked: viewLevel, checkedValue: 'Region'">
                <span data-bind="visible: !selectedRegion()">Great Britain</span>
                <span data-bind="visible: selectedRegion(), text: selectedRegion()"></span>
            </label>
            <label class="btn btn-default btn-sm"
                   data-bind="visible: selectedLea(),
                              css: { 'active': viewLevel() === 'LEA', 'disabled': dataLevel() === 'Region' }">
                <input type="radio" name="options" id="viewLEA" data-bind="visible: selectedLea(),
                                                                           checked: viewLevel, checkedValue: 'LEA',
                                                                           disable: dataLevel() === 'Region'">
                <span data-bind="visible: !selectedLea()">All local authorities</span>
                <span data-bind="visible: selectedLea(), text: selectedLea()"></span>
            </label>
        </div>

        <br>


        <form class="form-horizontal">

            <div class="form-group">
                <label for="selectRegion" class="col-sm-3 control-label"
                       data-bind="css: { 'text-warning': viewLevel() === 'Region' && tooManySchools() }">
                    Region
                </label>

                <div class="col-sm-9" data-bind="css: { 'has-warning': viewLevel() === 'Region' && tooManySchools() }">
                    <select id="selectRegion" class="form-control"
                            data-bind="options: regionOptions,
                                           value: selectedRegion,
                                           optionsCaption: 'All'"></select>
                </div>
            </div>

            <div class="form-group"
                 data-bind="visible: !(dataLevel() === 'Region' && viewLevel() === 'Region')">
                <label for="selectLEA" class="col-sm-3 control-label"
                       data-bind="css: { 'text-warning': viewLevel() === 'LEA' && !selectedLea() }">
                    Local authority
                </label>

                <div class="col-sm-9" data-bind="css: { 'has-warning': tooManySchools() || (viewLevel() === 'LEA' && !selectedLea()) }">
                    <select id="selectLEA" class="form-control"
                            data-bind="options: leaOptions,
                                           value: selectedLea,
                                           optionsCaption: 'select a local authority...'"></select>
                </div>
            </div>

            <div class="form-group"
                 data-bind="visible: dataLevel() === 'School'">
                <label for="selectSchool" class="col-sm-3 control-label">
                    School of interest
                </label>

                <div class="col-sm-9">
                    <select id="selectSchool" class="form-control"
                            data-bind="options: selectedSchoolsIncludedAlphabetical,
                                           optionsText: 'SCHNAME',
                                           value: focusedSchool,
                                           optionsCaption: 'select a school...'"></select>
                </div>
            </div>

        </form>

    </div>
</div>
