<div class="loading-screen">
    <div class="col-xs-8 col-xs-offset-2" style="position:absolute; top:50%; margin-top:-7em">
        <div class="page-header">
            <hgroup style="text-align:center">
                <h1>
                    <i class="text-success glyphicon glyphicon-education glyphicon-spin"></i>
                    Eduvis<br>
                    <small>Loading 2014 schools data...</small>
                </h1>
            </hgroup>
        </div>
        <p class="loading-status text-info" style="text-align:center">
            Visualising UK education data.<br><br>
            <i class="glyphicon glyphicon-info-sign"></i><a class="text-success" href="#about">ABOUT</a>
            <i class="glyphicon glyphicon-pencil"></i><a class="text-success" href="#blog">BLOG</a>
        </p>
    </div>
</div>