<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-block">
            <button type="button" class="btn btn-default btn-primary" style="width:100%"
                    data-toggle="modal" data-target="#shareModal"
                    data-bind="click: updateShortenedUrl">Share</button>
        </div>
        <div class="btn-block">
            <button type="button" class="btn btn-default" style="width:100%">Download data</button>
        </div>
    </div>
</div>

<!-- SHARE MODAL -->
<div id="shareModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">URL</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" data-bind="value: shortenedUrl" readonly>
                </div>
                <br>
                <!-- Twitter -->
                <a title="Share on Twitter" target="_blank" class="btn btn-twitter"
                   data-bind="attr: { href: twitterUrl}"><i class="fa fa-twitter"></i> Twitter</a>
                <!-- Facebook -->
                <a title="Share on Facebook" target="_blank" class="btn btn-facebook"
                   data-bind="attr: { href: facebookUrl}"><i class="fa fa-facebook"></i> Facebook</a>
                <!-- LinkedIn -->
                <a title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"
                   data-bind="attr: { href: linkedInUrl}"><i class="fa fa-linkedin"></i> LinkedIn</a>
                <!-- Email -->
                <a title="Share by email" target="_blank" class="btn btn-email"
                   data-bind="attr: { href: emailUrl}"><i class="glyphicon glyphicon-envelope"></i> Email</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
